# Ignoră codul sursă al exercițiilor
Exerciții/essay-checker/essay-checker.c
Exerciții/essay-checker/Makefile
Exerciții/santa-letters/santa-letters.c
Exerciții/santa-letters/Makefile

# Ignoră rezolvările exercițiilor
Rezolvări

# Ignoră chestionarul
Chestionar.md